<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fab fa-pagelines"></i> Amazon
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
                <a href="#mobiles" class="nav-link">Mobiles</a>
            </li>
            <li class="nav-item active">
                <a href="#storybooks" class="nav-link">Storybooks</a>
            </li>
        </ul>
        <form class="form-inline mt -2 mt -md-0">
            <a href="/cart" class="text-white nav-link">
                <i class="text-warning fas fa-shopping-cart">
                </i>Shopping Cart <i style="color: yellow" id="cart_n"></i>
            </a>
            <a href="/admin" class="nav-link text-white">
                <i class="far fa-user"></i>Administrator
            </a>
        </form>
    </div>
</nav>
</header>

<main role="main">
    <div class="container marketing">
        <br>
        <h2 id="mobiles">Mobiles</h2>
        <hr>
        <div class="row" id="mobilesDIV"></div>
        <h2 id="storybooks">Storybooks</h2>
        <hr>
        <div class="row" id="storybooksDIV"></div>
        <hr class="featurette-divider">
    </div>
</main>
<script src="/js/main.js"></script>